# Core functionality - changes here should be rare!
/src/app.py                   @geekigirlthesecond
/src/backend/database.py      @geekigirlthesecond
/src/backend/routers/auth.py  @geekigirlthesecond

# The frontend will need refactored soon to be more object oriented.
/src/static/   @geekigirlthesecond
